*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2023/09/07/14/26/cat-8239223_1280.png) ;
    background-repeat: no-repeat;
    background-position: top;
}

nav{
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
    box-shadow: 10px 10px 65px 10px  black;
}
h2{
    padding: 1rem;
    background-color: #bc4749;
    border-radius: 2rem 2rem 0rem 0rem;
}
ul{
    list-style: none;
}
li{
    border-top: 1px solid #333;
}
li a, li a:visited{
    text-decoration: none;
    color: #333;
}
li a{
    display: block;
}
li a:hover,
li a:focus{
    background: #333;
    color: whitesmoke;
}
li:last-child a{
    border-radius: 0 0 2rem 2rem;
}
p a{
    text-decoration: none;
}
