*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2023/09/07/14/26/cat-8239223_1280.png) ;
    background-repeat: no-repeat;
    background-position: top;
}

nav{
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
    box-shadow: 10px 10px 65px 10px  black;
}
.btn{
    margin: 10px;
    border: none;
    color: azure;
    padding: 14px 28px;
    cursor: pointer;
    display: inline;
    font-weight: bold;
}

.success{background-color: #04aa6d;}
.success:hover{background-color: #46a049;}

.info{background-color: #2196F3;}
.info{background-color: #0b7dda;}

.warning{background-color: #ff9800;}
.warning:hover{background-color: #e68a00;}

.danger{background-color: #f44336;}
.danger:hover{background-color: #da190d;}

.default{background-color: #e7e7e7; color: black;}
.default:hover{background: #ddd;}

h2{
    padding: 1rem;
    background-color: #bc4749;
    border-radius: 2rem 2rem 0rem 0rem;
}
ul{
    list-style: none;
}
li{
    border-top: 1px solid #333;
}
li a, li a:visited{
    text-decoration: none;
    color: #333;
}
li a{
    display: block;
}
li a:hover,
li a:focus{
    background: #333;
    color: whitesmoke;
}
li:last-child a{
    border-radius: 0 0 2rem 2rem;
}
p a{
    text-decoration: none;
}
